{% extends 'base.html' %}

{% block title %} chooseyear {% endblock %}

{% block body %}


<section data-bs-version="5.1" class="features8 cid-tmnZQvTiRI" xmlns="http://www.w3.org/1999/html" id="features9-1o">

    <div class="container">
        <div class="card">
            <div class="card-wrapper">
                <div class="row align-items-center">
                    <div class="col-12 col-md-4">
                        <div class="image-wrapper">
                            <a href="#"><img src="/static/images/culture.png" alt="culture"></a>
                        </div>
                    </div>
                    <div class="col-12 col-md">
                        <div class="card-box">
                            <div class="row">
                                <div class="col-md">
                                    <h6 class="card-title mbr-fonts-style display-5"><strong>Nigerian People and culture</strong></h6>

                                </div>
                                <div class="col-md-auto">

                                    <div class="mbr-section-btn"><a href="" class="btn btn-secondary display-4">Take Test</a></div>
                                </div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-wrapper">
                <div class="row align-items-center">
                    <div class="col-12 col-md-4">
                        <div class="image-wrapper">
                            <img src="/static/images/peace.jpg" alt="Peace">
                        </div>
                    </div>
                    <div class="col-12 col-md">
                        <div class="card-box">
                            <div class="row">
                                <div class="col-md">
                                    <h6 class="card-title mbr-fonts-style display-5"><strong>Peace and Conflict 1</strong></h6>

                                </div>
                                <div class="col-md-auto">

                                    <div class="mbr-section-btn"><a href="#" class="btn btn-secondary display-4">Take Test</a></div>
                                </div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock %}

